# Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Variable files (if they contain secrets)
# *.tfvars
!example.tfvars
*.terraform